# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List popular languages for Data Science  
- commonly used libraries used by Data Scientists
- Data Science Tools
- evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:
- Numpy
- Pandas
- Matplotlib

| Data Science Tools |
|------------------|
|Jupyter|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [34]:
#This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [35]:
#This will convert 200 minutes to hours by diving by 60
200%60

20

## Author

Asma Suliman